<header class="bg-main dark-nav sticky top-0 flex items-center justify-between px-10">
    <div class="flex gap-5">
        <img width="110" src="https://i.imgur.com/ILA153Y_d.webp?maxwidth=760&fidelity=grand" alt="">
        <ul class="flex items-center" *ngFor="let item of navList">
            <li class="text-neutral-200 cursor-pointer text-sm font-extralight hover:text-gray-400 transition-[1s]" >{{ item }}</li>
        </ul>
    </div> 
    <div class="text-white flex items-center gap-4">
    <div class="flex items-center gap-2">
        <a href=""><span>Welcome <strong>Vailantan</strong></span></a>
        <img [src]="userImg" width="42" alt="user-img" class="rounded-full">
    </div>
        &nbsp; | &nbsp;
        <a href="">Signout</a>
    </div>
</header>